<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Universitet | Learn something new today</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  
</head>

<body>
  <nav class="container">
    <div id= "l">
        <a><i class="material-icons">menu </i></a>
        <a>Topics</a>
        <a>Webinars</a>
        <a>Subscription</a>
    </div>
    <div id= "c">
        <h1>Universitet</h1>
    </div>
    <div id = "r">
        <a>My lessons</a>
        <a>Profile</a>
        <a><i class="material-icons">search</i></a>
    </div>
  </nav>
  <div class="content">
    <div id="izq">
      <h2>
        Content Marketing
      </h2>
      <p>
        Advanced training in executing an effective inbound marketing strategy
      </p>
      <button>Buy for $15</button>
    </div>
    <div id="der">
      <div id="arr">
        <h2>Marketing Software</h2>
        <p>Marketing software training and certification for HubSpot Marketing Platform users.</p>
        <button>Buy for $15</button>

      </div>
      <div id="ab">
        <div id="aizq">
          <h2>Sales Software</h2>
          <p>HubSpot CRM and HubSpot Sales software training and certification for HubSpot Sales Platform users.</p>
          <button>Buy for $15</button>
        </div>
        <div id = "ader">
          <h2>HubSpot Design</h2>
          <p>Technical product training for web designers using HubSpot COS, templates and website pages</p>
          <button>Buy for $15</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<style>
  nav{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: #b6b0b0;
    padding: 0;
    opacity: 1;
    justify-content: space-around;
    align-items: center;  
  }
  #c{
    text-align: center;
  }
  #l{
    width: auto;
  }
  #r{
    width: auto;
  }

  a{
    margin-right: 2%;
    margin-left: 2%;
  }
  .content{
    margin-top: 0;
    padding: 0;
    border: 0;
  }
  

</style>